*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span{
  color: red;
}
.header{
  background: #e7e9eb;
}
.header img{
  height: 70px;
}

.title{
  background-image: url(./components/img/logo.jpg);
}

.textdangky{
  background-color: #79bc4b;
}

.divDichVu{
  border: #79bc4b solid;
}

.tab button {
  /* display: none; */
  padding: 9px;
  font-size: 10px;
  width: 100%;
  height: 100%;
  border: 2px #79bc4b solid;
  background-color: white;
  border-radius: 3px;
}

.tab td{
  padding:  3px;
}

.labelTextNo{
  padding: 11px;
}
.active {
  color: #fff;
  background-color: #79bc4b !important;
}

.data{
  background-color: green;
}